<!DOCTYPE html>
<html>
<head>
  <script>
    function submitForm() {
    // Create a new object to store the form data
    var playerData = {};
    // Iterate through the form inputs and add their values to the object
    var formElements = document.getElementById("player-form").elements;
    for (var i = 0; i < formElements.length; i++) {
        var element = formElements[i];
        if (element.name) {
            playerData[element.name] = element.value;
        }
    }

    // Convert the player data object to a JSON string
    var playerDataJson = JSON.stringify(playerData);

    // Use the Fetch API to send the JSON to the /players endpoint
    fetch("/player", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: playerDataJson
    })
    .then(response => response.text())
    .then(data => {
        // Display the response from the server
        alert(data);
    })
    .catch(error => console.error("Error:", error));
}

  </script>
</head>
<body>
  <form id="player-form" onsubmit="submitForm()">
    <label for="PlayerID">Player ID:</label>
    <input type="text" id="PlayerID" name="PlayerID">
    <br>
    <label for="FName">First Name:</label>
    <input type="text" id="FName" name="FName">
    <br>
    <label for="LName">Last Name:</label>
    <input type="text" id="LName" name="LName">
    <br>
    <label for="DOB">DOB:</label>
    <input type="text" id="DOB" name="DOB">
    <br>
    <label for="PrimarySkill">Primary Skill:</label>
    <input type="text" id="PrimarySkill" name="PrimarySkill">
    <br>
    <label for="SecondarySkill">Secondary Skill:</label>
    <input type="text" id="SecondarySkill" name="SecondarySkill">
    <br>
    <label for="BowlingArm">Bowling Arm:</label>
    <input type="text" id="BowlingArm" name="BowlingArm">
    <br>
    <label for="BattingHand">Batting Hand:</label>
    <input type="text" id="BattingHand" name="BattingHand">
    <br>
    <label for="TeamID">Team ID:</label>
    <input type="text" id="TeamID" name="TeamID">
    <br>
    <label for="DebutID">Debut ID:</label>
    <input type="text" id="DebutID" name="DebutID">
    <br>
    <input type="submit" value="Submit">
  </form>
  <div id="server-response"></div>
</body>
</html>
